<div class="container-fluid">
  <div class="jumbotron">
    <h1>Deployments ({{deploymentsCount}})</h1>
  </div>
  <!--<app-back-button></app-back-button>-->
</div>
<div class="container">
  <div *ngIf="deployments != null; else noResults">
    <ag-grid-angular class="ag-theme-material"
                     style="width: 100%; height: 1200px;"
                     [columnDefs]="columnDefs"
                     [defaultColDef]="defaultColDef"
                     [rowData]="deployments"
                     animateRows="true"
                     enableCharts="true"
                     (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
  <ng-template #noResults>
    <p>No deployments to load</p>
  </ng-template>
</div>
