<div class="jumbotron jumbotron-fluid text-center">
  <h1><span>Deployments</span></h1>
  <!-- <h1 class="display-4">Fluid jumbotron</h1>
  <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
</div>

<!-- <app-page-header title="Deployments ({{count}})" description=""></app-page-header> -->

<div class="container">
  <!--<div class="row">
    <div class="col">
      <ngx-charts-pie-chart [view]="view"
                            [scheme]="colorScheme"
                            [results]="deployedBy"
                            [gradient]="true"
                            [legend]="true"
                            [legendTitle]="legendTitle"
                            [explodeSlices]="explodeSlices"
                            [labels]="labels"
                            [doughnut]="doughnut">
      </ngx-charts-pie-chart>
    </div>
  </div>--> 
  <div class="row">
    <div class="col"> 
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Dump of all deployments ({{count}})</h5>
          <p class="card-category">Description here about what the grid illustrates</p>
        </div>
        <div class="card-body">
          <app-deployments-list></app-deployments-list>
        </div>
        <div class="card-footer"></div>
      </div> 
    </div>
  </div> 
</div>
