<div class="jumbotron jumbotron-fluid text-center">
  <h1><span>Users  ({{users.TotalResults}})</span></h1>
</div>

<div class="container">
  <div *ngFor="let user of users.Items"> 
    <img alt="image" class="img-fluid rounded-circle" src="../../../../assets/img/happy2.png">
    <!-- <img alt="image" class="img-fluid rounded-circle" src="{{user.Links.Avatar}}"> -->
    <h3><strong>{{user.DisplayName}}</strong></h3>
    <p>
      <a href="mailto:{{user.EmailAddress}}">{{user.EmailAddress}}</a>
    </p>
    <span *ngIf="!user.IsActive">
      <p>Not Active</p>
    </span>
    <span *ngIf="user.IsService">
      <p>Service account</p>
    </span>
  </div>