<div class="container-fluid">
  <div class="jumbotron">
    <h1>Projects ({{projects.count}})</h1>
  </div>
</div>

<div class="container">



  <!--<ul *ngFor="let item of data;">
    <li>
      <p>Project: {{item.project.name}}</p>
      <p>Build Type Name: {{item.name}}</p>
      <p>Build Type Steps: {{item.steps.count}}</p>
    </li>
  </ul>-->










  <!--<ul *ngFor="let project of projects.project;">
    <li>
      <p><a href="{{project.webUrl}}" target="_blank">{{project.name}}</a> - {{project.description}}</p>
    </li>
  </ul>-->




</div>
