<ul>
  <li><a [routerLink]="['/']"><fa-icon [icon]="faHome"></fa-icon></a></li>
  <li><a [routerLink]="['/bitbucket']"><fa-icon [icon]="faBitbucket"></fa-icon> Bitbucket</a></li>
  <ul>
    <li><a [routerLink]="['/bitbucket/pullrequests']">Pull Requests</a></li>
  </ul>
  <li><a [routerLink]="['/teamcity']"><fa-icon [icon]="faHammer"></fa-icon>Team City</a></li>
  <ul>
    <li><a [routerLink]="['/teamcity/projects']">Projects</a></li>
    <li><a [routerLink]="['/teamcity/projects/CascadeHr_Legacy']">Project:Id</a></li>
    <li><a [routerLink]="['/teamcity/builds/queue']">Build Queue</a></li>
    <li><a [routerLink]="['/teamcity/builds']">Builds</a></li>
    <li><a [routerLink]="['/teamcity/builds/286504']">Build:Id</a></li>
  </ul>
  <li><a [routerLink]="['/octopusdeploy']"><fa-icon [icon]="faOctopusDeploy"></fa-icon> Octopus Deploy</a></li>
  <ul>
    <li><a [routerLink]="['/octopusdeploy/deployments']">Deployments</a></li>
  </ul>
  <li>Welcome, Lorna</li>
</ul>
