<img src="../../../../assets/logo.png" height="80" />

<ul>
  <li><a [routerLink]="['/']"><fa-icon [icon]="faHome"></fa-icon></a></li>
  <li><a [routerLink]="['/bitbucket']">Bitbucket</a></li>
  <ul>
    <li><a [routerLink]="['/bitbucket/pullrequests']">Pull Requests</a></li>
    <li><a [routerLink]="['/bitbucket/projects']">Projects</a></li>
  </ul>
  <li><a [routerLink]="['/teamcity']">Team City</a></li>
  <ul>
    <li><a [routerLink]="['/teamcity/projects']">Projects</a></li>
    <li><a [routerLink]="['/teamcity/projects/CascadeHr_Legacy']">Project:Id</a></li>
    <li><a [routerLink]="['/teamcity/builds/queue']">Build Queue</a></li>
    <li><a [routerLink]="['/teamcity/builds']">Builds</a></li>
    <li><a [routerLink]="['/teamcity/builds/286504']">Build:Id</a></li>
  </ul>
  <li><a [routerLink]="['/octopusdeploy']">Octopus Deploy</a></li>
  <ul>
    <li><a [routerLink]="['/octopusdeploy/deployments']">Deployments</a></li>
  </ul>
  <li>Welcome, Lorna</li>
</ul>
