<nav>
  <span>
    <a [routerLink]="['/']"><fa-icon [icon]="faHome"></fa-icon></a> /

    <a [routerLink]="['/bitbucket']"><strong>Bitbucket</strong></a>
    <a [routerLink]="['/teamcity']"><strong>Team City</strong></a>

    <a [routerLink]="['/octopusdeploy']"><strong>Octopus Deploy</strong></a>

    <a [routerLink]="['/octopusdeploy/build-infos']">Build Infos</a> /
    <a [routerLink]="['/octopusdeploy/deployments']">Deployments</a> /
    <a [routerLink]="['/octopusdeploy/deployment-processes']">Deployment Processes</a> /
    <a [routerLink]="['/octopusdeploy/environments']">Environments</a> /
    <a [routerLink]="['/octopusdeploy/interruptions']">Interruptions</a> /
    <a [routerLink]="['/octopusdeploy/machines']">Machines</a> /
    <a [routerLink]="['/octopusdeploy/projects']">Projects</a> /
    <a [routerLink]="['/octopusdeploy/project-groups']">Project Groups</a> /
    <a [routerLink]="['/octopusdeploy/releases']">Releases</a> /
    <a [routerLink]="['/octopusdeploy/teams']">Teams</a> /
    <a [routerLink]="['/octopusdeploy/users']">Users</a> /

    <a [routerLink]="['/']"><fa-icon [icon]="faUser"></fa-icon></a> /

  </span>
</nav>

<!--
<ul>
  <a>Projects</a>
  <a>Tests</a>
  <a>Builds</a>
  <a>Pull Requests</a>
  <a>Deployments</a>
  <a>Releases</a>
  <a>Teams/Users</a>
</ul> -->
