<div class="container-fluid">
  <div class="jumbotron">
    <h1>Welcome, Lorna</h1>
    <p>Simplifying common DevOp tasks into a single web app using a combo of the Bitbucket, Team City and Octopus Deploy APIs.</p>
  </div>
</div>

<div class="container">
  <h2>What are you looking for?</h2>

  <h3>How about any of the following:</h3>
  <ul>
    <li>Current build queue</li>
    <li>Active pull requests for a given project</li>
  </ul>

  <h3>Here's an overview for today (Mon 1st Mar 2021)</h3>

  <div class="row">
    <div class="col-md-4">
      <span class="title">Builds</span>
    </div>
    <div class="col-md-2" style="padding: 0">
      <div class="tile" style="background-color: #ffc107">
        <h3>2</h3>
        <span>Queued</span>
      </div>
    </div>
    <div class="col-md-2" style="padding: 0">
      <div class="tile" style="background-color: #198754">
        <h3>18</h3>
        <span>Succeed</span>
      </div>
    </div>
    <div class="col-md-2" style="padding: 0">
      <div class="tile" style="background-color: #dc3545">
        <h3>3</h3>
        <span>Failed</span>
      </div>
    </div>
    <div class="col-md-2" style="padding: 0">
      <div class="tile" style="background-color: #6c757d">
        <h3>1</h3>
        <span>Cancelled</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <span class="title">Pull Requests</span>
    </div>
    <div class="col-md-2" style="padding: 0">
      <div class="tile" style="background-color: #0052CC">
        <h3>10</h3>
        <span>Open</span>
      </div>
    </div>
    <div class="col-md-2" style="padding: 0">
      <div class="tile" style="background-color: #198754">
        <h3>5</h3>
        <span>Merged</span>
      </div>
    </div>
    <div class="col-md-2" style="padding: 0">
      <div class="tile" style="background-color: #dc3545">
        <h3>1</h3>
        <span>Declined</span>
      </div>
    </div>
    <div class="col-md-2" style="padding: 0">
      <div class="tile" style="background-color: #6c757d">
        <h3>2</h3>
        <span>Closed</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <span class="title">Deployments</span>
    </div>
    <div class="col-md-2" style="padding:0">
      <div class="tile" style="background-color: #198754">
        <h3>1</h3>
        <span>Succeed</span>
      </div>
    </div>
    <div class="col-md-2" style="padding:0">
      <div class="tile" style="background-color: #dc3545">
        <h3>1</h3>
        <span>Failed</span>
      </div>
    </div> 
  </div>





  <!--<div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Builds</h5>
          <div class="card-text">
            <ul>
              <li><fa-icon [icon]="faSync"></fa-icon> 2 queued</li>
              <li><fa-icon [icon]="faCheck"></fa-icon> 12 success</li>
              <li><fa-icon [icon]="faTimes"></fa-icon> 1 failed</li>
              <li><fa-icon [icon]="faExclamation"></fa-icon> 1 cancelled</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pull Requests</h5>
          <div class="card-text">
            <ul>
              <li><fa-icon [icon]="faEye"></fa-icon> 19 active</li>
              <li><fa-icon [icon]="faCheck"></fa-icon> 2 merged</li>
              <li><fa-icon [icon]="faTimes"></fa-icon> 1 declined</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Deployments</h5>
          <div class="card-text">
            <ul>
              <li><fa-icon [icon]="faCheck"></fa-icon> 3 success</li>
              <li><fa-icon [icon]="faTimes"></fa-icon> 1 failed</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>-->
</div>
