<div class="container-fluid">
  <div class="jumbotron">
    <h1><span>DevOps API Tool</span></h1>
    <!--<p>Simplifying common DevOp tasks into a single web app using a combo of the Bitbucket, Team City and Octopus Deploy APIs.</p>-->
  </div>
</div>

<!--<div class="container-fluid">
  <div class="row">
    <div class="col">
      <ngx-charts-pie-chart [results]="latest10Builds"
                            [gradient]="true"
                            [scheme]="scheme"
                            label="Builds">
      </ngx-charts-pie-chart>
    </div>
  </div>
</div>-->


<div class="container">
  <div class="row">
    <div class="col">
      <ngx-charts-tree-map [results]="single" [view]="view">
      </ngx-charts-tree-map> 
    </div>
  </div>
</div>




<!--<h2>What are you looking for?</h2>
  <h3>How about any of the following:</h3>
  <ul>
    <li>Current build queue</li>
    <li>Active pull requests for a given project</li>
  </ul>-->
