<app-loading-small *ngIf="isLoading; else grid" message="Loading Builds..."></app-loading-small>
<ng-template #grid>
  <div *ngIf="noBuilds; else buildTable">
    <div class="alert alert-info" role="alert">
      <p class="mb-0">No Deployments found</p>
    </div>
  </div>
  <ng-template #buildTable>
    <button (click)="onExport();" class="btn btn-primary">Export as CSV</button>
    <div id="grid-wrapper">
      <ag-grid-angular id="build-list"
                       class="ag-theme-material"
                       [rowData]="rowData"
                       [gridOptions]="gridOptions"></ag-grid-angular>
    </div>
  </ng-template>
</ng-template>
