<div class="container">
  <div class="row align-items-center">
    <form>
      <select>
        <option selected>Type</option>
        <option value="buildNumber">Build Number</option>
        <option value="pullRequest">Pull Request ID</option>
      </select>
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control" />
        </div>
        <button type="button" class="btn btn-primary"><fa-icon [icon]="faSearch"></fa-icon></button>
      </div>
    </form>
  </div>
</div>
