@dark-yellow: #ffc107;
@dark: #212529;
@light-blue: #0dcaf0;
@dark-grey: #6c757d;

@green: #198754;
@red: #dc3545;

span {
	.badge {
		font-weight: 400;
	}

	.badge-success {
		background-color: @green;
	}
}

.status {
	color: #fff;

	.build {
		.SUCCESS {
			background-color: @green;
		}
		.FAILURE {
			background-color: @red;
		}
		.UNKNOWN {}
	}
	
	.build-file-change-type {
		.added {
			background-color: @green;
		}
		.edited {
			background-color: @dark-yellow;
		}
		.removed {
			background-color: @red;
		}
		.copied {
			background-color: @dark-yellow;
		}
		.unchanged {
			background-color: @dark-grey;
		}	
	}
	
	.pull-request {
		.OPEN {
			background-color: #0052CC;
		}
		.MERGED {
			background-color: @green;
		}
		.DECLINED {
			background-color: @red;
		}
		.CLOSED {
			background-color: @dark-grey;
		} 
	}
}