@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-material.css";

@import "theme.less";
        

* {
  margin: 0;
  padding: 0;
}

body,a {
  color: @almost-black!important;
}
 
.container-fluid {
  padding: 0px;
} 
  
h1 {
    display:inline;
    background-color: @almost-black;
    color:#fff;
    font-size: 70px;
    text-transform: uppercase;
    padding: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
  }
   
  app-users img {height: 100px!important;}

app-releases{ ul,p  {
  margin:0;
  padding:0;
}}

nav li {text-transform: uppercase;
  
  line-height: 10px;
  a{ font-size: 10px; margin: 0;}}

.dropdown-item { 
  padding-top: 0; 
  padding-bottom: 0; 
 
}