@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-material.css";

@import "theme.less";
        

* {
  margin: 0;
  padding: 0;
}

body,a {
  color: @almost-black!important;
}
 
.container-fluid {
  padding: 0px;
} 
  
h1 {
    display:inline;
    background-color: @almost-black;
    color:#fff;
    padding: 25px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

