@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-material.css";

@import "status.less";
 
@--filter-input-offset: 15px;
@--tag-color: #6ad4b0; 
@--button-dark-bg: #16385c;  
@--generic-avatar-color: #9b9b9b;

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
 
body { 
  //overflow-x: hidden; 
}
 
.app {
  padding-bottom: 50px
}
     
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #65d6af;
  padding: 10px 0;
  z-index: 100
}

footer a, footer a:hover {
  padding: 0 3px;
  color: #fff;
  text-decoration: underline
}
 
.card {
  --avatar-offset: 54px;
  --avatar-dim: 108px;
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 0 20px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  /*margin-top: calc(@avatar-offset + 20px);*/
  margin-right: 5px;
  margin-left: 5px;
  box-shadow: 0 0 4px 0 rgba(17,22,26,.16),0 2px 4px 0 rgba(17,22,26,.08),0 4px 8px 0 rgba(17,22,26,.08);
  display: grid;
  grid-auto-rows: 80px minmax(140px,auto) minmax(60px,auto) 80px
}

.card .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px
}
 
.card .avatar {
  width: var(--avatar-dim);
  height: 118px;
  margin: calc(var(--avatar-offset)*-1) auto 0;
  background: 0 0;
  padding: 0
}

.avatar:hover {
  cursor: pointer
}

.card .avatar i {
  position: absolute;
  font-size: var(--avatar-dim);
  background: #fff;
  color: @--generic-avatar-color;
}

.card .avatar i, .card .avatar img {
  width: var(--avatar-dim);
  height: var(--avatar-dim);
  border-radius: 50%;
  display: block
}

.card .avatar img {
  position: relative;
  object-fit: cover
}

.card .avatar img.broken {
  visibility: hidden
}

.card .name {
  font-size: 20px
}

.card .name, .card .title {
  color: #4a4a4a;
  margin: 0 0 5px;
  word-break: break-word
}

.card .title {
  font-weight: 400
}
 
.card .tags {
  z-index: 2
}

.card .tag {
  color: #fff;
  background: @--button-dark-bg;
  border: 0;
  border-radius: 20px;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2.5px 5px;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: lowercase;
  font-family: monospace
}

.card .tag:hover {
  cursor: pointer
}

.card .channels {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end
}

.card .channels .channel-inner {
  display: flex;
  justify-content: space-around;
  background-color: #d0f8ef;
  align-items: center;
  padding: 20px 10px 5px;
  margin-right: -20px;
  margin-left: -20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px
}
 
.card .wave {
  position: absolute;
  bottom: 60px;
  left: 0;
  background-color: #fff;
  height: 30px;
  width: 100%;
  border-radius: 0 0 50% 50%
}

.card .channels button {
  background: 0 0;
  border: none;
  cursor: pointer
}

.card .channels a, .card .channels button {
  color: #16385c;
  text-decoration: none
}

.card .channels a .icon, .card .channels button .icon {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease;
  -webkit-transform-origin: 50%;
  transform-origin: 50%
}

.card .channels a:hover .icon {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.card .channels button:hover .icon {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.card .channels button:active .icon {
  -webkit-transform: rotate(-110deg);
  transform: rotate(-110deg)
}
  
.card .channels a {
  display: flex;
  flex-direction: column;
  align-items: center
}

.card .channels .type {
  margin: 5px 0
}

.channel-label {
  text-decoration: none
}

@media (max-width:800px) {
  .card {
    margin-left: auto;
    margin-right: auto
  }
}

@media (max-width:800px) {
  main {
    flex-direction: column
  }

  .mentors-wrapper {
    background: #fff;
    padding: 0 18px;
    position: relative;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease
  }

  .mentors-wrapper.active {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
    margin-bottom: 50px
  }
}

@media (min-width:800px) {
  .mentors-wrapper {
    flex-grow: 1;
    // margin-left: 276px;
    padding-bottom: 30px
  }

  .mentors-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
}

.mentors-cards .loader {
  font-size: 2em;
  margin-top: 15px
}
  
@media screen and (max-width:1280px) {
  #filter {
    padding: 5px 0 5px 30px
  }
}
   
::selection {
  background: #65d6af;
  color: #16385c
}
 
body {
  margin: 0;
  padding: 0; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

*, :after, :before {
  box-sizing: border-box
}
 
h3 {
  font-size: 1.28571429rem
}

h1, h2, h3, h4, h5 { 
  line-height: 1.28571429em;
  margin: calc(2rem - .14286em) 0 1rem;
  font-weight: 700;
  padding: 0
}
               
.container-fluid {
  padding: 0px;
}
