<div class="container-fluid">
  <div class="jumbotron">
    <h1>Builds</h1>
  </div>
</div>

<!--<div class="container-fluid">
  <div class="cards">
    <div *ngFor="let build of rowData.build">
      <div class="card">
        <span class="card-header" style="background-image: url(http://placeimg.com/400/200/animals);">
          <span class="card-title">
            <h3>#{{build.number}}</h3>
          </span>
        </span>
        <span class="card-summary">
          {{build.branchName}}
          {{build.status}}
        </span>
        <span class="card-meta">
          Published: June 18th, 2015
        </span>
      </div>
    </div>
  </div>
</div>-->
